
.homepage-background {
    background-image: url("/assets/img/green-blob.svg"), url("/assets/img/purple-blob.svg");
    background-size: clamp(850px, 75vw, 1255px), clamp(400px, 20vw, 705px);
    background-repeat: no-repeat;
    background-position: top left, top right;
}

.eve-background {
    background-image: url("/assets/img/yellow-blob.svg");
    background-size: clamp(600px, 51vw, 715px);
    background-repeat: no-repeat;
    background-position: top left;
  }
  
  .range-background {
    background: #f9e9cc url("/assets/img/range-background.svg") no-repeat 0 top;
    background-size: clamp(1130px, 100%, 100%);
  }
