
.flex-container {
    display: flex;
    align-items: center;
    margin: 2em 0;
    padding: 1em;
  }

  .flex-center {
    justify-content: center;
  }
  
  .flex-child-66 {
    flex: 66%;
  }
  
  .flex-child-60 {
    flex: 60%;
  }
  
  .flex-child-50 {
    flex: 50%;
  }
  
  .flex-child-40 {
    flex: 40%;
  }
  
  .flex-child-33 {
    flex: 33%;
  }
  
  .flex-child-25 {
    flex: 25%;
  }

  .flex-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .align-items-top {
    align-items: flex-start!important;
  }
  .align-items-bottom {
    align-items: flex-end!important;
  }
  .align-items-stretch {
    align-items: stretch!important;
  }
