
/* Menu courtesy of Álvaro: https://codepen.io/alvarotrigo/pen/MWEJEWG */

.site-header {
    display: flex;
    flex-direction: row;
    height: 120px;
    line-height: 94px;
    margin: 1rem 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 800px) {
        margin-bottom: 2rem;
    }
  }
  
  
  .site-header__menu {
    width: auto;
    display: flex;
  }
  
  .site-header__logo img {
    vertical-align: middle;
    height: 90px;
    width: 200px;
  }
  