@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icons/icomoon.eot?vuoxtr');
    src:  url('/assets/fonts/icons/icomoon.eot?vuoxtr#iefix') format('embedded-opentype'),
      url('/assets/fonts/icons/icomoon.ttf?vuoxtr') format('truetype'),
      url('/assets/fonts/icons/icomoon.woff?vuoxtr') format('woff'),
      url('/assets/fonts/icons/icomoon.svg?vuoxtr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  [class^="icon-"] {
    font-size: 36px;
    vertical-align: middle;
    margin: 0 !important;
  }
  
  [class^="icon-"]:before {
    content: "";
    background: no-repeat center center;
    background-size: 80%;
    height: 1em;
    width: 1em;
    display: inline-block;
    text-decoration: none;
  }
  .icon-location:before {
    content: "\e919";
  }
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-battery:before {
    content: "\e901";
  }
  .icon-bed:before {
    content: "\e902";
  }
  .icon-book:before {
    content: "\e903";
  }
  .icon-chair:before {
    content: "\e904";
  }
  .icon-charge:before {
    content: "\e905";
  }
  .icon-chevron:before {
    content: "\e906";
  }
  .icon-email:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-fridge:before {
    content: "\e909";
  }
  .icon-group:before {
    content: "\e90a";
  }
  .icon-heater:before {
    content: "\e90b";
  }
  .icon-hob:before {
    content: "\e90c";
  }
  .icon-instagram:before {
    content: "\e90d";
  }
  .icon-inverter:before {
    content: "\e90e";
  }
  .icon-pizza:before {
    content: "\e90f";
  }
  .icon-popup:before {
    content: "\e910";
  }
  .icon-road:before {
    content: "\e911";
  }
  .icon-shower:before {
    content: "\e912";
  }
  .icon-sink:before {
    content: "\e913";
  }
  .icon-soap:before {
    content: "\e914";
  }
  .icon-towel:before {
    content: "\e915";
  }
  .icon-trip:before {
    content: "\e916";
  }
  .icon-twitter:before {
    content: "\e917";
  }
  .icon-usb:before {
    content: "\e918";
  }
  .icon-basket:before {
    background-image: url('/assets/img/icons/basket.svg');
  }
  .icon-cupcake:before {
    background-image: url('/assets/img/icons/cupcake.svg');
  }
  .icon-flowers:before {
    background-image: url('/assets/img/icons/flowers.svg');
  }
  .icon-forkandknife:before {
    background-image: url('/assets/img/icons/forkandknife.svg');
  }
  .icon-pool:before {
    background-image: url('/assets/img/icons/pool.svg');
  }
  .icon-sea:before {
    background-image: url('/assets/img/icons/sea.svg');
  }
  .icon-house:before {
    background-image: url('/assets/img/icons/house.svg');
  }
  .icon-cloud-sun:before {
    background-image: url('/assets/img/icons/cloud-sun.svg');
  }
  .icon-glasses:before {
    background-image: url('/assets/img/icons/glasses.svg');
  }
  .icon-compass:before {
    background-image: url('/assets/img/icons/compass.svg');
  }
  .icon-tea:before {
    background-image: url('/assets/img/icons/tea.svg');
  }
  .icon-map:before {
    background-image: url('/assets/img/icons/map.svg');
  }
  .icon-binoculars:before {
    background-image: url('/assets/img/icons/binoculars.svg');
  }
  .icon-sunrise:before {
    background-image: url('/assets/img/icons/sunrise.svg');
  }
  .icon-pin:before {
    background-image: url('/assets/img/icons/pin.svg');
  }
  .icon-concierge:before {
    background-image: url('/assets/img/icons/concierge.svg');
  }
  .icon-star:before {
    background-image: url('/assets/img/icons/star.svg');
  }
  .icon-signpost:before {
    background-image: url('/assets/img/icons/signpost.svg');
  }

