

img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}
.image-rounded {
    border-radius: 3rem;
    overflow: hidden;
}

.image-offset-left {
    position: relative;
    left: -20px;
}

a:hover img {
    opacity: 0.8;
}

.mask-1 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/blob-1.svg');
}
.mask-2 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/blob-2.svg');
}
.mask-3 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/blob-3.svg');
}
.mask-4 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/blob-4.svg');
}
.mask-5 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/blob-5.svg');
}
.mask-6 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/purple-blob.svg');
}
.mask-7 {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url('/assets/img/shapes/green-blob.svg');
}
