
.margin-spacing-a {
    margin: 6rem 0;
  }
  
  .margin-spacing-b {
    margin: 3rem 0;
  }
  
  .margin-spacing-c {
    margin: 2rem 0;
  }
  
  @media (max-width: 800px) {
      .margin-spacing-a {
        margin: 3rem 0;
      }
      
      .margin-spacing-b {
        margin: 1.5rem 0;
      }
      
  }
  .no-margin {
    margin: 0 !important;
  }
  
  .margin-top-05 {
    margin-top: 0.5rem!important;
  }
  .margin-top-1 {
    margin-top: 1rem!important;
  }
  .margin-top-2 {
    margin-top: 2rem!important;
}
  .margin-top-3 {
    margin-top: 3rem!important;
  }
  .margin-top-4 {
    margin-top: 4rem!important;
  }
  .margin-top-5 {
    margin-top: 5rem!important;
  }
  .margin-top-6 {
    margin-top: 6rem!important;
 }
  .margin-top-7 {
    margin-top: 7rem!important;
  }
  .margin-top-8 {
    margin-top: 7rem!important;
  }
  .margin-top-neg-1 {
    margin-top: -1rem!important;
  }
  .margin-top-neg-2 {
    margin-top: -2rem!important;
  }
  .margin-top-neg-3 {
    margin-top: -3rem!important;
  }
  .margin-top-neg-4 {
    margin-top: -4rem!important;
  }
  .margin-top-neg-5 {
    margin-top: -5rem!important;
  }
  .margin-top-neg-6 {
      margin-top: -6rem!important;
    }
@media screen and (min-width: 900px) {
    .margin-top-neg-5-desktop-only {
        margin-top: -5rem!important;
        
    }
}
  .margin-bottom-1 {
    margin-bottom: 1rem!important;
  }
  .margin-bottom-2 {
    margin-bottom: 2rem!important;
  }

  @media screen and (min-width: $desktop) {
    .margin-top-05-desktop-only {
        margin-top: 0.5rem!important;
      }
      .margin-top-1-desktop-only {
        margin-top: 1rem!important;
      }
      .margin-top-2-desktop-only {
        margin-top: 2rem!important;
    }
      .margin-top-3-desktop-only {
        margin-top: 3rem!important;
      }
      .margin-top-neg-1-desktop-only {
        margin-top: -1rem!important;
      }
      .margin-top-neg-2-desktop-only {
        margin-top: -2rem!important;
      }
      .margin-top-neg-3-desktop-only {
        margin-top: -3rem!important;
      }
      .margin-top-neg-4-desktop-only {
        margin-top: -4rem!important;
      }
      .margin-top-neg-5-desktop-only {
        margin-top: -5rem!important;
      }
      .margin-top-neg-6-desktop-only {
          margin-top: -6rem!important;
        }  
  }
