
.margin-spacing-a {
    margin: 6rem 0;
  }
  
  .margin-spacing-b {
    margin: 3rem 0;
  }
  
  .margin-spacing-c {
    margin: 2rem 0;
  }
  
  @media (max-width: 800px) {
      .margin-spacing-a {
        margin: 3rem 0;
      }
      
      .margin-spacing-b {
        margin: 1.5rem 0;
      }
      
  }
  .no-margin {
    margin: 0 !important;
  }
  
  .margin-top-1 {
    margin-top: 1rem;
  }
  .margin-bottom-1 {
    margin-bottom: 1rem;
  }
  .margin-bottom-2 {
    margin-bottom: 2rem;
  }
