
.newsletter {
    background: var(--yellow-100) url("/assets/img/newsletter-bg.svg") no-repeat center;
    background-size: cover;
    border-radius: 2em;
    width: auto;
    padding: 3em;
    margin: 4em 0;
    margin-bottom: 6em;
  }
  
  .newsletter-heading {
    margin-bottom: 2rem;
  }
  
  .newsletter i {
    font-size: 3em;
    color: var(--yellow-500);
    width: 60px;
    height: 60px;
  }
  
  @media screen and (min-width: 480px) {
    .newsletter-inputs {
      display: flex;
    }
    .newsletter .cta {
      border-radius: 0 4px 4px 0;
      margin-top: 1.65em;
    }
    .newsletter-email-input .form-text-input {
      border-radius: 4px 0 0 4px;
      margin-bottom: 0;
    }
  }
  
  .newsletter-email-input {
    flex-grow: 2;
  }
  
  .newsletter .cta {
    color: var(--yellow-400);
    background-color: var(--purple-900);
    font-size: 1.125rem;
    border: 1px solid var(--purple-900);
    border-top-width: 2px;
  }
