
.rotate-22 {
    transform: rotate(-2.2deg);
  }
  
.rotate-22-reverse {
    transform: rotate(2.2deg);
  }
  
  .rotate-074 {
    transform: rotate(-0.74deg);
  }
  
  .rotate-074-reverse {
    transform: rotate(0.74deg);
  }
  
  .rotate-305 {
    transform: rotate(3.05deg);
  }
  
  .rotate-278 {
    transform: rotate(-2.78deg);
  }
  
  .rotate-011 {
    transform: rotate(0.11deg);
  }
  
  .rotate-147 {
    transform: rotate(-1.47deg);
  }
  
  .rotate-116 {
    transform: rotate(1.16deg);
  }
  
  .rotate-262 {
    transform: rotate(2.62deg);
  }
  
  .rotate-262-reverse {
    transform: rotate(-2.62deg);
  }
  
  .rotate-787 {
    transform: rotate(-7.87deg);
  }
  
  .rotate-676 {
    transform: rotate(6.76deg);
  }
  
  .rotate-326 {
    transform: rotate(-3.26deg);
  }
  
  .rotate-217 {
    transform: rotate(2.17deg);
  }
  
  .rotate-143 {
    transform: rotate(-1.43deg);
  }
  
  .rotate-1793 {
    transform: rotate(17.93deg);
  }
