
.specs {
    display: flex;
    line-height: 1.2;
    margin-bottom: 1em;
  }
  
  .specs-child span {
    display: block;
  }
  
  .specs-child span:first-child {
    font-family: "Recoleta-Black", Serif;
    color: var(--purple-900);
    font-weight: 900;
  }
  
  .specs-child span:last-child {
    color: var(--neutral-500);
  }
