
.text-align-center {
    text-align: center;
  }
  
  .text-align-left {
    text-align: left;
  }
  
  .text-align-right {
    text-align: right;
}
.desktop-align-right {
    @media screen and (min-width: $desktop) {
        text-align: right;
    }
  }
.tablet-align-right {
    @media screen and (min-width: $tablet) {
        text-align: right;
    }
  }
