.tw-integer {
  font-family: "Recoleta-Black", serif;
  font-size: 2em;
  color: var(--purple-500);
  display: block;
}

.tw-integer-top {
  margin-bottom: -1.8em;
  font-weight: 500;
  display: block;
}
