
.homepage-background {
    background: #f9e9cc url("/assets/img/homepage-background.svg") no-repeat 0 top;
    background-size: clamp(1130px, 100%, 100%);
  }
  
  .eve-background {
    background: #f9e9cc url("/assets/img/eve-background.svg") no-repeat 0 top;
    background-size: clamp(1130px, 100%, 100%);
  }
  
  .range-background {
    background: #f9e9cc url("/assets/img/range-background.svg") no-repeat 0 top;
    background-size: clamp(1130px, 100%, 100%);
  }
