<footer>
    <h2 class="color-purple-900">Sounds good?<br>
        <span class="color-purple-600 headline-bold">Book now!</span>
    </h2>
    <hr class="yellow-500-hr">
    <p>Experience the roadtrip of a lifetime in our fantastic electric campervan Eve</p>
    <a href="https://www.quirkycampers.com/uk/campervan/301977/?wb-currency=GBP&ref=wilddrives" target="_blank" class="cta cta--with-icon">
        <i class="icon-trip"></i>Book Your Trip</a>
    <span class="legal color-yellow-50">
        &copy; 2023 Wild Drives, Ltd</span>
</footer>
