<a class="cta cta--no-margin cta--orange cta--with-icon plausible-event-name=Book+Button+Click" {{ classes }}" href="https://checkout.wheelbasepro.com/reserve?owner_id=2796074" target="_blank">
<i class="icon-trip"></i> Book now
</a>
