<button class="cta cta--no-margin cta--orange cta--with-icon {{ classes }}" type="button" data-a11y-dialog-show="{{van}}booking-modal">
<i class="icon-trip"></i> Book now
</button>
{% if van %}
{% include 'booking-modal', van: van, prefix: van %}
{% endif %}
