<div class="grid-container margin-vw-top-8 align-items-top">
        <div class="grid-container__item-span-3">
            <h2 class="color-purple-900">Go on an <span class="color-purple-600">eco-adventure</span> in one of our campervans 
            </h2>
            <hr class="hr hr--yellow-500 hr">
            <p>Take our vans on a unique and unforgettable adventure. We'll provide a route with the best roads, the best places to charge, and the best places to camp</p>
            <span>
                <a href="/trips" class="link link--flex"><i class="icon-road color-orange-400"></i> explore our trips<i class="icon-chevron color-orange-400"></i></a>
            </span>
        </div>
        <div class="grid-container__item-span-5">
            {% Image "app/assets/img/anna-18.jpg", "Our van eve parked up against the trees", "rotate-22 image-rounded" %}
        </div>
    </div>
