<div class="grid-container margin-vw-top-8 align-items-top">
        <div class="grid-container__item-span-3">
            <h2 class="color-purple-900">Go on an <span class="color-purple-600">eco-adventure</span> in one of our campervans 
            </h2>
            <hr class="hr hr--yellow-500 hr">
            <p>Take our vans on a unique and unforgettable adventure. We'll provide a route with the best roads, the best places to charge, and the best places to camp</p>
            <span>
                <a href="/trips" class="link link--flex"><i class="icon-road color-orange-400"></i> explore our trips<i class="icon-chevron color-orange-400"></i></a>
            </span>
        </div>
        <div class="grid-container__item-span-5">
            <div class="rotate-22 image-rounded">
            {% markdown %}https://res.cloudinary.com/dmnbr8vry/image/upload/v1686862730/quirky_campers_campervan_photos-16_gevkml.jpg{% endmarkdown %}
            </div>
        </div>
    </div>
