<h2 class="color-purple-800 margin-vw-top-11">Featured in</h2>
    <hr class="hr hr--yellow-500 hr">
    <div class="logo-listing">
        <a class="logo-listing__item" href="https://www.telegraph.co.uk/cars/features/ev-transition-coming-campervans/" target="_blank">
            {% Image "app/assets/img/the-telegraph.svg", "The Telegraph" %}
        </a>
        <a class="logo-listing__item logo-listing__item-narrow" href="https://inews.co.uk/inews-lifestyle/travel/saving-money-vanlifers-escaping-costs-energy-crisis-1853798" target="_blank">
            <img src="/assets/img/i.svg" alt="inews paper" />
        </a>
        <a class="logo-listing__item" href="/blog/million-pound-motorhomes">
            {% Image "app/assets/img/million-pound-motorhomes.png", "Million Pound Motorhomes" %}
        </a>
    </div>
