<h2 class="color-purple-800">Follow our journey</h2>
    <hr class="hr hr--yellow-500 hr--margin-large">
    <div class="container-33-33-33 align-items-top">
        <div class="video-embed">
            <lite-youtube videoid="Ti5IjKUXp8I" playlabel="Play: Lewis announcing about Wild Drives Season Two" params="controls=0&modestbranding=1&rel=0&enablejsapi=0"></lite-youtube>
        </div>
        <div>
            <h3 class="color-purple-900">Watch an update from <span class="color-purple-500">Wild Drives'</span> Founder </h3>
            <hr class="hr hr--yellow-500 hr">
            <p>Lewis Nyman reveals the future of Wild Drives and the second year of the business.</p>
            <a href="https://youtu.be/Ti5IjKUXp8I" target="_blank" class="link">
                Watch the video<i class="icon-chevron color-orange-400"></i></a>
            </a>
        </div>
        <div class="socials">
            <h4 class="color-green-50">Our Socials</h4>
            <hr class="hr hr--yellow-500 hr--short">
            <p>
                <i class="icon-twitter  rotate-787 color-yellow-50 background-color-twitter"></i> <a href="https://twitter.com/wild_drives">Follow us on Twitter</a>
            </p>
            <p>
                <i class="icon-instagram rotate-676 color-yellow-50 background-color-instagram"></i> <a href="https://www.instagram.com/wilddrives/">Friend us on Instagram</a>
            </p>
            <p>
                <i class="icon-facebook rotate-326 color-yellow-50 background-color-facebook"></i> <a href="https://www.facebook.com/WildDrivesElectric">Friend us on Facebook</a>
            </p>
            <p>
                <i class="icon-email rotate-217 color-yellow-50 background-color-email"></i> <a href="mailto:hello@wilddrives.co.uk"> Email us</a>
            </p>
        </div>
    </div>
