<div class="grid-container margin-spacing-a">
    <div class="grid-container__item-span-3">
        <h2 class="color-purple-900">
        See <span class="color-purple-600">Buzz</span><br />
        face-to-face
        </h2>
        <hr class="hr hr--yellow-500 hr--margin-small" />
        <p class="color-neutral-900">
        We're launching our ID Buzz campervan at <a href="https://uk.fullycharged.live/south/welcome" target="_blank">Fully Charged Live.</a> Be one of the first people to see the full conversion.
        </p>
        <a href="https://uk.fullycharged.live/south/welcome" target="_blank" class="cta cta--no-margin cta--orange">
        Buy tickets for Fully Charged Live</a>
    </div>
    <div class="grid-container__item-span-5">
        {% Image "app/assets/img/buzz-02.jpeg", "The ID Buzz driving through green fields", "image-rounded rotate-22" %}
    </a>
    </div>
</div>
