<a class="cta cta--no-margin cta--orange cta--with-icon plausible-event-name=Join+tribe+Button+Click {{ classes }}" href="/join-wild-drives-tribe" target="_blank">
<i class="icon-group"></i> Join the Wild Drives tribe
</a>
