<header class="wrapper site-header">
    <a class="site-header__logo" href="/">
        <img src="/assets/img/{{logo}}" alt="Wild Drives logo" class="no-border-radius" style="width: 200px; height: 90px;">
    </a>
</header>
