<footer>
    <h2 class="color-purple-900">Not sure what you want?<br>
        <span class="color-purple-600 headline-bold">Get in touch</span>
    </h2>
    <hr class="hr hr--yellow-500 hr">
    <p>We'll help you plan a trip that perfectly suits you. Sustainable, scenic, and unforgettable</p>
    <a href="/contact" class="cta cta--with-icon">
        <i class="icon-trip"></i>Contact us</a>
    <span class="legal color-yellow-50">&copy; 2023 Wild Drives Ltd 
                <a href="/#electric-campervans" class="color-{{menu-link-color}}">Electric campervans</a>
                <a href="/about" class="color-{{menu-link-color}}">About</a>
                <a href="/blog" class="color-{{menu-link-color}}">Blog</a>
                <a href="/terms-conditions" class="color-{{menu-link-color}}">Terms & conditions</a>
    </span>
</footer>
