
  <!-- 1. The dialog container -->
<div
  data-a11y-dialog="van-modal"
  id="van-modal"
  aria-labelledby="van-modal-title-id"
  aria-hidden="true"
  class="dialog-container"
>
  <!-- 2. The dialog overlay -->
  <div class="dialog-overlay" data-a11y-dialog-hide></div>
  <!-- 3. The actual dialog -->
  <div class="dialog-content" role="document">
    <!-- 4. The close button -->
    <button class="dialog-close" type="button" data-a11y-dialog-hide aria-label="Close dialog">
      &times;
    </button>
    <!-- 5. The dialog title -->
    <h2 class="h3 color-purple-900" id="van-modal-title-id">Which <span class="color-purple-500">electric</span> camper do you want to hire?</h2>
    <ul class="list-reset margin-top-05 margin-top-1-desktop-only container-33-33-33 align-items-top booking-modal-options">
    {%- for van in collections.vans -%}
    {% capture bookingUrl %}/our-vans/{{ van.data.name | slugify }}/book{% endcapture %}
    {% if van.data.name == "Eve" %}
    {% assign vanImg = "app/assets/img/eve-01.jpg" %}
    {% else %}
    {% assign vanImg = "app/assets/img/LOV_26.jpg" %}
    {% endif %}
    <li><a class="booking-modal-options__option" href="{{bookingUrl}}">
    {% Image vanImg, "A campervan in the woods", "booking-modal-options__image" %}
    <div>
    <div class="h5 margin-top-05-desktop-only">Book {{van.data.name}}</div>
    <small>Sleeps {{van.data.sleeps}}</small>
    </div>
    </a></li>
    {%- endfor -%}
  </div>
</div>
