
.icon-book:before { content: '\e800'; } /* '' */
.icon-email-alt:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-trip:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-charge:before { content: '\e80c'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
