---
layout: layouts/base.liquid
---
{% render "site-header.liquid", logo: 'site-id-purple.svg', menu-link-color: 'purple-600', cta-color: 'purple-800' %}

<main class="wrapper">
{{ content }}
</main>
