<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="title" content="Wild Drives">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content=" ">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content=" ">
        <meta name="theme-color" content="rgb(255, 221, 0)">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/iconfont/style.css">
        <link rel="manifest" href="/json/manifest.webmanifest">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>
    {% if bodyClass %}
    <body class="{{ bodyClass }}">
    {% else %}
    <body>
    {% endif %}
	
        {{ content }}

        <footer>
			<h2 class="color-purple-900">Sounds good?<br>
				<span class="color-purple-600 headline-bold">Book now!</span>
			</h2>
			<hr class="yellow-500-hr">
			<p>A blurb about how awesome it would be to book a great trip in the lovely Eve, and how it would be just the holiday you really wanted.</p>
			<a href="https://www.quirkycampers.com/uk/campervan/301977/?wb-currency=GBP&ref=wilddrives" target="_blank" class="cta cta--with-icon">
				<i class="icon-trip"></i>Book Your Trip</a>
			<span class="legal color-yellow-50">
				&copy; 2022 Wild Drives, Ltd</span>
		</footer>
	</body>
</html>
